header {
  background-color: var(--color-base);
}

header #navbar {
  /* box-shadow: 0px 0px 8px 0px #222; */
  border-bottom: 1px solid var(--color-base-1);
  box-shadow: var(--bs-sm);
}

header * {
  z-index: 100 !important;
}

header .button {
  display: flex;
  padding: 0;
  padding-left: 8px;
  padding-right: 8px;
  /* border-radius:4px; */
  border: none;
  border-radius: 0;
  background-color: transparent;
  font-size: 1rem;
  line-height: 1rem;
  flex-direction: row;
  gap: 0.33ch;
  align-items: center;
}
header .button:not(:last-child) {
  border-right: 1px solid var(--color-base-1);
}
header .button * {
  margin-right: 2px;
  margin-left: 2px;
  color: var(--color-text-1);
}
header .button:hover {
  background-color: var(--color-base-1);
  color: var(--color-text);
}
header .button:hover * {
  color: var(--color-text);
}

header > #navbar {
  /* background-color:var(--color-base); */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  height: 100%;
  /*box-shadow: var(--shadow);/*0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);*/
}

header #title {
  margin-left: 8px;
  display: inline-flex;
}

header > #navbar > .end {
  margin-right: 0;
  height: 100%;
}

#homelink, .homelink {
  text-decoration: none;
}
#homelink:hover, .homelink:hover {
  text-decoration: underline;
}

header h4, .homelink {
  display: flex;
  flex-direction: row;
  gap: 0.6ch;
}

#title_link * {
  color: var(--color-accent-1);
}

@media only screen and (max-width: 450px) {
  #navbar .button span.text, #navbar button span.text {
    display: none;
  }
}
@media only screen and (max-width: 512px) {
  #navbar .swap_palette span.text {
    display: none;
  }
}
button {
  background-color: var(--color-accent-1);
  border-radius: 2px;
  border: none;
  padding: 3px;
  text-align: center;
}

button > p {
  margin-top: auto;
  margin-bottom: auto;
  line-height: 24px;
  font-size: 14px;
  font-weight: 600;
}

.button,
input[type=submit] {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  padding: 4px 8px;
  border-radius: 4px;
  background-color: var(--color-accent-1);
  border: 1px solid var(--color-accent-1);
  font-weight: 600;
}

.button:hover,
input[type=submit]:hover {
  background-color: var(--color-accent-1-1);
}

.button.disabled,
a.button:not([href]) {
  background-color: var(--color-element-1);
  cursor: default;
  filter: contrast(0.5);
  border: 1px solid var(--color-element-2);
}

textarea,
input[type=text],
input[type=email] {
  background-color: var(--color-base-2);
  /* border: 1px solid var(--color-element); */
  /* TODO Make --color-element usable here (increase contrast) */
  border: 1px solid var(--color-base-1);
  padding: 0.5em;
  border-radius: 0.25rem;
}

input,
button,
textarea,
select {
  font: inherit;
}

.reset_button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;
  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;
  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
  /* Remove excess padding and border in Firefox 4+ */
}
.reset_button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.flex {
  display: flex;
  justify-content: flex-start;
}

.flex.row {
  flex-direction: row;
}

.flex.col {
  flex-direction: column;
}

.flex.justifycenter {
  justify-content: center;
}

.flex.aligncenter {
  align-items: center;
}

.spacechildh > * {
  margin-right: 8px;
}

.text.small {
  font-size: x-small;
}

.text.aligncenter {
  text-align: center;
}

.hidden {
  display: none !important;
}

footer div.shadow {
  height: 100%;
  /* box-shadow: 0px 0px 8px 0px #222; */
  box-shadow: var(--bs-sm);
}

.dropdown_sc-wrapper {
  position: relative;
  left: -24px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dropdown_sc-button {
  cursor: pointer;
}
.dropdown_sc-button:hover, .dropdown_sc-button:active, .dropdown_sc-button.open {
  background-color: var(--color-base-1);
}

.dropdown_sc-content {
  position: absolute;
  top: 100%;
  left: 0;
  width: max-content;
  flex-direction: column;
  align-items: stretch;
  gap: 0.1rem;
  display: none;
  background-color: var(--color-base);
  border: 1px solid var(--color-base-1);
  list-style-type: none;
}
.dropdown_sc-content > * {
  font-weight: 600;
  background-color: inherit;
  padding: 0.25rem;
}
.dropdown_sc-content > * * {
  font-weight: inherit;
}
.dropdown_sc-content > *:hover {
  background-color: var(--color-base-1);
}

.dropdown_sc-wrapper.open .dropdown_sc-content {
  display: flex;
}
.dropdown_sc-wrapper.open .dropdown_sc-button {
  background-color: var(--color-base-1);
}

::-webkit-scrollbar-track {
  background-color: var(--color-base-2);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-element-1);
  border: 0.25rem solid var(--color-base-2);
  border-radius: 0.5rem;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-accent-1);
}

* {
  scrollbar-width: initial;
  scrollbar-color: var(--color-base-1) var(--color-base-2);
}

.material-icons {
  width: 24px;
  height: 24px;
  overflow: hidden;
  display: inline-flex;
}

:root {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--color-background);
  --bs-sm: 0 1px 2px rgba(0,0,0,0.05),0 1px 4px rgba(0,0,0,0.05),0 2px 8px rgba(0,0,0,0.05);
  --bs-md: 0 1px 3px rgba(0,0,0,0.06),0 2px 6px rgba(0,0,0,0.06),0 3px 8px rgba(0,0,0,0.09);
  --bs-lg: 0 1px 4px rgba(0,0,0,0.09),0 3px 8px rgba(0,0,0,0.09),0 4px 13px rgba(0,0,0,0.13);
}

* {
  /* box-sizing: border-box; */
  padding: 0;
  margin: 0;
  color: var(--color-text);
  /*border: 1px solid red;*/
}

body {
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
}

body #page_container {
  display: grid;
  grid-template-rows: [header-start] 32px [header-end mid-start] 1fr [mid-end footer-start] 16px [footer-end];
  width: 100vw;
  height: 100vh;
}

header {
  grid-row: header-start/header-end;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
}

footer {
  grid-row: footer-start/footer-end;
  background-color: var(--color-base);
  position: relative;
  z-index: 1;
}

#content_main {
  overflow-y: auto;
}

/*# sourceMappingURL=core_style.css.map */
