#dnd {
  position: fixed;
  bottom: 2rem;
  right: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--color-base-2);
  border: 1px solid var(--color-base-1);
  display: flex;
  flex-direction: column;
  gap: 0.6em;
}

#dnd .content {
  align-self: center;
  color: var(--color-text-1);
}

.button.glow {
  transition: background-color 0.1s, box-shadow 0.1s;
}
.button.glow:hover[href], .button.glow:focus[href] {
  background-color: var(--color-accent-1-2);
  box-shadow: 0 0 6px 0 var(--color-accent-1-1);
}

#content_main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects_container {
  margin-top: 16px;
}

.project_item {
  width: clamp(256px, 640px, 95%);
  height: 96px;
  border-radius: 4px;
  border: 1px dotted var(--color-element-1);
  margin-bottom: 12px;
  padding: 8px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  background-color: var(--color-element);
}

.project_item:hover {
  border: 1px solid var(--color-accent-1);
}

.project_item > .info_container > h3 {
  color: var(--color-text);
}

.project_item > .info_container > h3 > a:hover {
  color: var(--color-accent-1);
}

.project_desc {
  /*margin-left: 8px;*/
  font-size: 0.95em;
  color: var(--color-text-1);
}

.project_item > .tags_container {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.project_item > .actions_container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  margin-left: 8px;
}

.project_item > .actions_container > * {
  display: block;
  margin-right: 0;
}

.project_item > .actions_container > button:first-child {
  margin-bottom: 8px;
}

.actions_container > button {
  width: 100%;
}

.actions_container .button {
  height: 24px;
  transition: all 0.1s;
}

.actions_container .button:not(.disabled) {
  transition: background-color 0.1s, box-shadow 0.1s;
}
.actions_container .button:not(.disabled):hover[href], .actions_container .button:not(.disabled):focus[href] {
  background-color: var(--color-accent-1-2);
  box-shadow: 0 0 6px 0 var(--color-accent-1-1);
}

.button.github {
  display: flex;
  flex-direction: row;
}

.button.github::before {
  content: "";
  background: url(https://static.jpcode.dev/img/GitHub-Mark/PNG/GitHub-Mark-32px.png) no-repeat 0 0;
  max-height: 24px;
  width: 24px;
  margin-right: 6px;
  background-size: 100%;
}

#title_container {
  margin: 32px 0;
}

#mini_projects {
  padding: 1.5rem 0;
  gap: 1rem;
}

#mini_projects_content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
  max-width: 80vw;
}

#mini_projects_content .card {
  background-color: var(--color-base-2);
  border-radius: 8px;
  border: 1px solid var(--color-base-1);
  padding: 16px;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

#mini_projects_content .card img.preview {
  width: 16em;
  border-radius: 0.5rem;
  border: 1px solid var(--color-base);
  background-color: var(--color-base-1);
}

#mini_projects_content .card {
  will-change: box-shadow, transform;
  text-decoration: none;
}
#mini_projects_content .card:hover {
  text-decoration: underline;
  transform: translateY(-0.33rem);
  box-shadow: 0px 4px 8px -4px;
  transition: 0.11s;
}

/*# sourceMappingURL=projects-list.css.map */
