
@mixin hover_effect {
    
    will-change: box-shadow, transform;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        transform: translateY(-0.33rem);
        box-shadow: 0px 4px 8px -4px;
        transition: 0.11s;
    } 
    
}
