
node_modules
*.log
*.log.*.gz
(ign)*
credentials
*.csr
*.key
*.pem
.vscode

public_static/temp

public/**/widgets/content/*
public_static/img/*
public_static/files/*
public_static/discord-themes/*
public/debug/*
public/dnd/grid_aligner/*.jpg

http2-webserver/foreign-api-cache

.ports
