
node_modules/
*.log
*.log.*.gz
(ign)*
credentials/
*.csr
*.key
*.pem

public_static/temp/

public/**/widgets/content/
public_static/img/
public_static/css/
public_static/files/
public_static/discord-themes/
public/debug/
public/dnd/grid_aligner/*.jpg
public_static/benchmarks/dotnet/
public/dotnetperf/build/
public/thoughts/software/src/content/

http2-webserver/foreign-api-cache/
http2-webserver/log/
http2-webserver/ts_output/
http2-webserver/.ports
http2-webserver/certs/*
