a(class="homelink" href=linkify("/minecraft/fabric_mods"), role="menuitem") 
    img(src="https://static.jpcode.dev/img/icon/fabricmc.png", alt="FabricMC Logo", style="width:24px;height:24px;")
    | Fabric Mods
