
.dropdown_sc-wrapper
    button.material-icons.dropdown_sc-button.reset_button arrow_drop_down
    h4
        #title_link
            block title
        |  by #[a(href="https://github.com/John-Paul-R") JP]
    .dropdown_sc-content
        include main_head_title.pug
        include dnd_head_title.pug
        include 3d_head_title.pug
