mixin title
    .dropdown_sc-wrapper
        button.material-icons.dropdown_sc-button.reset_button arrow_drop_down
        h4
            a(id="homelink" href="https://www.jpcode.dev") Projects
            |  by #[a(href="https://github.com/John-Paul-R") JP]
        .dropdown_sc-content
            a.homelink(href="https://www.jpcode.dev") Projects (Code)
            a.homelink(href="https://www.jpcode.dev/dnd")
                |#[span(style="color:crimson") D&D] Projects
