 
doctype html
html(lang='en')
 head
    link(rel="stylesheet", href="https://static.jpcode.dev/css/core_style.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    script(src="https://static.jpcode.dev/js/palette_light_dark.js")
    block head
 body
  #page_container
    header
        #navbar.shadow
            #title
                h4 
                    a(id="homelink" href="https://www.jpcode.dev/dnd")
                        span(style="color:crimson") D&D
                        |
                        | Projects
                    | 
                    | by 
                    | 
                    a(href="https://github.com/John-Paul-R") JP
            .end.flex.row
                button.swap_palette.button
                    p Theme
                    i.material-icons style
            script bindPaletteSwapButtons();
    #content_main.filled
        block body
    footer#footer
        script(src="https://static.jpcode.dev/js/footer.js") 