
extends standalone-base.pug

block head
    title 404 Page Not Found - JPCode.Dev

block titlemixin 
    include mixins/main_head_title.mixin.pug

block nav_end 

block body
    #title_container.flex.col.aligncenter(style="margin-top: 48px")
        h1 HTTP Error 404 - Requested file not found.

block eof