
extends standalone-base.pug

block head
    title 404 Page Not Found - JPCode.Dev

block titlemixin 
    include mixins/main_head_title.mixin.pug

block nav_end 

block body
            <div id="title_container" class="flex col aligncenter">
                <h1>HTTP Error 404 - Requested file not found.</h1>
            </div>

block eof