extends standalone-base.pug

block head
    link(rel="stylesheet", href="https://static.jpcode.dev/css/widget_standalone.css")
    style a.button {margin: 8px;}
    link(rel="stylesheet", href="https://static.jpcode.dev/css/resizable.css")
    script(src="https://static.jpcode.dev/js/resizable.js")             
    title #{title} - D&D Notes

block titlemixin 
    include mixins/dnd_head_title.mixin.pug
    +title()

block body
    .widget_container.resizable
        div.widget_content
            p !{widgetContents}
        a.widget_top_float(href=`https://www.jpcode.dev/${webroot}`) #{dirTitle}