 
doctype html
html(lang='en')
 head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="https://static.jpcode.dev/css/core_style.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    script(src="https://static.jpcode.dev/js/multi-palette.min.js")
    block head
 body
  #page_container
    header
        #navbar.shadow
            #title
                block titlemixin
            .end.flex.row
                block nav_end
                button.swap_palette.button
                    p Theme
                    i.material-icons style
    #content_main.filled
        block body
    footer#footer
        script(src="https://static.jpcode.dev/js/footer.js") 

 block eof 
