 
doctype html
html(lang='en')
 head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="https://static.jpcode.dev/css/core_style.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    script(src="https://static.jpcode.dev/js/multi-palette.min.js")

    script(src="https://www.googletagmanager.com/gtag/js?id=G-46Y3Z774KR" async)
    script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-46Y3Z774KR');

    block head
 body
  #page_container
    header
        #navbar(role="menubar")
            #title
                block titlemixin
            .end.flex.row
                block nav_end
                button.swap_palette.button
                    |Theme
                    span.material-icons style
    #content_main.filled
        block body
    footer#footer
        div#copyright_text.small.text.aligncenter
            script.
                document.getElementById("copyright_text").innerHTML = `&#169; 2020-${new Date().getFullYear()} <a href="https://github.com/John-Paul-R"> John Paul R.</a>`;

 block eof 
