
.spell {
    position: relative;
    display: inline;

    text-decoration: none;
    font-style: italic;
    &:hover {
        text-decoration: underline;
    }
}

.markdown div.spell_desc {
    transition: visibility 0.15s, opacity 0.15s;
}

.spell_desc {
    // display: none;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    background-color: var(--color-base-2);
    border: 1px solid var(--color-accent-1);
    border-radius: 6px;
    max-width: 512px;
    padding: 0.5rem;
    z-index: 10;
    box-shadow: var(--bs-md);
    box-sizing: border-box;

    &.open {
        visibility: visible;
        opacity: 1;
        z-index: 11;

    }

    .level {
        &::before {
            font-weight: 600;
            content: "Level: ";
        }
    }
    .school {
        &::before {
            font-weight: 600;
            content: "School: ";
        }
    }
    .cast_time {
        &::before {
            font-weight: 600;
            content: "Cast Time: ";
        }
    }
    .desc {
        overflow-y: auto;
    }
}
