
.flex {
    display:flex;
    justify-content: flex-start;
}
.flex.row {
    flex-direction:row;
}
.flex.col {
    flex-direction:column;
}
.flex.justifycenter {
    justify-content: center;
}
.flex.aligncenter {
    align-items: center;
}
.spacechildh > * {
    margin-right:8px;
}

.text.small {
    font-size: x-small;
}
.text.aligncenter {
    text-align: center;
}

.hidden {
    display: none !important;
}
